body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-bottom: 50px;
  background: #ffe74d;
}

.main-content {
  max-width: 500px;
  margin: 0 auto;
}

.result-list {
  width: 500px;
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 20px;
  overflow: scroll;
}
